*{
    box-sizing: inherit;
}

html{
    /* font-size = 100% = 16px = 1rem*/
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

.header{
    width: 100%;
    background-color: #FFFDF4;
}

.header__page {
    

}

.header__page__heading {
    font-size: 45px;
    line-height: 53px;
    color: #374639;
    font-weight: 400;
    margin-top: 52px;
    margin-bottom: 0px;
}

.header__content{
   

}

.header__content-title{
    font-size: 19px;
    line-height: 27px;
    color: #3F514B;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 34px;

}



/* App container */
.app__container {
    width: 100%;
    background-color: #FFFDF4;
    margin-bottom: 50px;
}

app__container-tranning{
    display: flex;
}

.content__img{
    width: 100%;

}

.content__heading__yoga{
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}

.content__title{
    font-size: 17px;
    line-height: 24px;
    padding-right: 10px;
    font-weight: 400;
    color: #3F514B;

}

.content-item__price{
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    

}

.content-item__price-old{
    color: #72776C;
    text-decoration: line-through;
    font-size: 1.3rem;
    line-height: 18px;
    font-weight: 400;
    margin-right: 8px;

}

.content-item__price-current{
    font-size: 1.8rem;
    line-height: 23px;
    color: #3F514B;
    font-weight: 400;

}

.content__training{
    display: flex;
    align-items: center;

}

.content__training-week{
    list-style: none;
    padding-left: 0;
    width: 100%;


}

.content__training-week-item{       
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

}

.content__training-week-item:nth-child(3){
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.training-week{
    color: #72776C;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

}

.training-title{
    color: #4E5C58;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}






/* footer */
.footer{
    padding-top: 48px;
    padding-bottom: 48px;

    background-color: #F4F4F4;
    width: 100%;
    /* height: 704px; */
    
    display: block;
    
}

.footer__main{
    margin: 20px 66px 70px;

    /* height: 575px; */
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    position: relative;
    
}

.footer__img{
    display: block;
    margin: 48px 48px 48px 36px;
    flex: 1;
}

.footer__img-item{
    display: block;
    
}

.footer__content {
    /* 
    width: 50%;
   
    position: absolute;
    top: 30px;
    right: 20px;
    align-items: center;
     */

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    margin-right: 100px;
    
}

.footer__heading{
    color: #0000004D;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}

.footer__heading-icon{
    margin-top: 20px; 
    font-size: 45px;
    color: #0000004D;
}

.footer__title{

    /* 
    width: 80%;
    margin: 25px 0 0 0;
    text-align: center; */
    display: block;
    color: #0D0D0D;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    /* line-height: 30px; */
    margin: 10px 0;
    

    line-height: 22px;
    font-weight: 400;


}

.footer__name{
    font-size: 13px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0;
    line-height: 15px;
    
    color: #0D0D0D;

}

.footer__job{  
    color: #0000004D;  
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    margin-top: 4px;
    
    
}






























