*{
    box-sizing: inherit;
}

html{
    /* font-size = 100% = 16px = 1rem*/
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

.header{
    width: 100%;
    background-color: #FFFDF4;
}

.header__page {

}

.header__page__heading {
    font-size: 45px;
    line-height: 53px;
    color: #374639;
    font-weight: 400;
    margin-bottom: 0px;
}

.header__content{

}

.header__content-title{
    font-size: 19px;
    line-height: 27px;
    color: #3F514B;
    font-weight: 400;
    margin-top: 10px;

}



/* App container */
.app__container {
    width: 100%;
    background-color: #FFFDF4;
    margin-bottom: 50px;
}

app__container-tranning{
    display: flex;
}

.content__img{
    width: 100%;

}

.content__heading__yoga{
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.content__title{
    font-size: 14px;
    line-height: 14px;
    padding-right: 10px;
    font-weight: 350;

}

.content-item__price{
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    

}

.content-item__price-old{
    color: #666;
    text-decoration: line-through;
    font-size: 1.4rem;
    margin-right: 8px;

}

.content-item__price-current{
    font-size: 1.6rem;
    color: #666;
    font-weight: 500;

}

.content__training{
    display: flex;
    align-items: center;

}

.content__training-week{
    list-style: none;
    padding-left: 0;
    width: 100%;


}

.content__training-week-item{       
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

}

.content__training-week-item:nth-child(3){
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.training-week{
    color: #666;
    font-size: 1.4rem;
}

.training-title{
    color: #666;
    font-size: 1.4rem;
    padding-left: 20px;
}





/* footer */
.footer{
    padding: 70px 0;
    background-color: #F4F4F4;
    width: 100%;
    
}

.footer__main{
    margin: 0 100px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    display: flex;
    
    position: relative;
    
}

.footer__img{
    display: block;
    margin-left: 12px;
    padding: 26px;
    width: 50%;
    align-items: center;
    flex: 1;
}

.footer__img-item{
    width: 100%;
}

.footer__content {
    display: flex;
    width: 50%;
    text-align: center;
    margin-right: 12px;

    position: absolute;
    top: 30px;
    right: 20px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.footer__heading{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;

}

.footer__heading-icon{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

.footer__title{
    display: block;
    font-size: 25px;
    color: #0D0D0D;
    line-height: 27px;
    width: 80%;
    font-weight: 500;
    margin: 25px 0 0 0;

}

.footer__name{
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 0 0;

}

.footer__job{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);

}






























